<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-bs-theme="dark">
<head th:replace="~{/layout/plantilla :: head(#{agregarNegocio})}"></head>

<body class="d-flex flex-column min-vh-100 bg-info-subtle">

<header th:replace="~{/layout/plantilla :: navbar}"></header>

<section class="container flex-grow-1 mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-3">
                <div class="card-header text-center">
                    <h1 th:text="#{agregarNegocio}">Agregar Negocio</h1>
                </div>
                <div class="card-body">
                    <form th:action="@{/admin/negocio/guardar}" th:object="${negocio}" method="post">
                        <div class="mt-3">
                            <label for="nombreNegocio" class="form-label" th:text="#{label.nombreNegocio}">Nombre del negocio:</label>
                            <input required type="text" class="form-control" id="nombreNegocio" th:field="*{nombreNegocio}">
                        </div>
                        <div class="mt-3">
                            <label class="form-label" for="descripcion" th:text="#{label.descripcion}">Descripción:</label>
                            <textarea class="form-control" id="descripcion" cols="30" rows="5"
                                      th:field="*{descripcionNegocio}"></textarea>
                        </div>
                        <div class="mt-3 text-center">
                            <a th:href="@{/}" class="btn btn-secondary mx-2" th:text="#{boton.volver}">Volver</a>
                            <input type="submit" class="btn btn-success" th:value="#{boton.guardar}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{/layout/plantilla :: footer}"></footer>
</body>
</html>