<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head('Eliminar Negocio')}"></head>
<body>

<a th:fragment="botonEliminarNegocio" class="btn btn-outline-danger"
   data-bs-toggle="modal" th:attr="data-bs-target='#modalEliminarNegocio' + ${negocio.idNegocio}"
><i class="fa-solid fa-trash"></i> </a>

<div th:fragment="modalEliminarNegocio">
  <div th:each="negocio : ${negocios}">
    <div class="modal fade" th:id="'modalEliminarNegocio' + ${negocio.idNegocio}" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title" th:text="#{eliminar.confirmar}">Confirmar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <h4 th:text="#{eliminar.negocio}">¿Seguro que desea eliminar este negocio?</h4>
            <h5><strong th:text="${negocio.nombreNegocio}"></strong></h5>
            <p class="text-danger mt-2" th:text="#{eliminar.aviso}">Esta acción no se puede deshacer</p>
          </div>

          <div class="modal-footer">
            <form method="post" th:action="@{/admin/negocio/eliminar/{id}(id = ${negocio.idNegocio})}">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" th:text="#{boton.volver}">Volver</button>
              <button type="submit" class="btn btn-danger" th:text="#{boton.eliminar}"><i class="fa fa-trash"></i> Eliminar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>