<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head('Eliminar Usuario')}"></head>
<body>


<a class="btn btn-outline-danger"
   th:fragment="botonEliminarUsuario" data-bs-toggle="modal"
   th:attr="data-bs-target='#modalEliminarUsuario' + ${usuario.idUsuario}"><i class="fa-solid fa-trash"></i><span th:text="#{boton.eliminar}">Eliminar</span></a>

<div th:fragment="modalEliminarUsuario">
    <div th:each="usuario : ${usuarios}">
        <div class="modal fade" th:id="'modalEliminarUsuario' + ${usuario.idUsuario}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title" th:text="#{eliminar.confirmar}">Confirmar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <h4 th:text="#{eliminarUsuario}">¿Seguro que desea eliminar este usuario?</h4>
                        <h5><strong th:text="${usuario.username}"></strong></h5>
                        <p class="text-danger mt-2" th:text="#{eliminar.aviso}">Esta acción no se puede deshacer</p>
                    </div>

                    <div class="modal-footer">
                        <form method="post" th:action="@{/admin/usuario/eliminar/{id}(id = ${usuario.idUsuario})}">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" th:text="#{boton.volver}"><i class="fa-solid fa-arrow-left"></i>Volver</button>
                            <button type="submit" class="btn btn-danger" ><i class="fa fa-trash"></i> <span th:text="#{boton.eliminar}">ELiminar</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>