<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">

<head th:replace="~{/layout/plantilla :: head('Usuarios')}"></head>

<body class="bg-info-subtle d-flex flex-column min-vh-100">

<header th:replace="~{/layout/plantilla :: navbar}"></header>

<section class="container flex-grow-1 mt-4" th:fragment="listaProductos">
    <div class="row">
        <div class="col-md-6 w-100 mt-4 d-flex gap-3">
            <table class="table table-striped table-dark align-middle text-center table-sm">
                <tr>
                    <th>Id</th>
                    <th>Nombre de usuario</th>
                    <th>Fecha de alta</th>
                    <th>Rol</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" colspan="2">Acciones</th>
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.idUsuario}"></td>
                    <td th:text="${usuario.username}"></td>
                    <td th:text="${usuario.fechaAlta}"></td>
                    <td>
                        <span th:each="rol, stat : ${usuario.roles}">
                            <span th:text="${rol.getRol()}"></span>
                            <span th:if="${!stat.last}">, </span>
                        </span>
                    </td>

                    <td class="" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-outline-light" th:href="@{/admin/usuario/editar/{id} (id = ${usuario.idUsuario})}">
                            <i class="fa-solid fa-pen-to-square"></i><span>Editar</span></a></td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')" >
                        <a th:replace="~{usuario/eliminarUsuario :: botonEliminarUsuario}"></a>
                        <a th:replace="~{usuario/eliminarUsuario :: modalEliminarUsuario}"></a>
                    </td>

                </tr>

            </table>

        </div>
    </div>
</section>

<div th:replace="~{producto/eliminarProducto :: modalEliminarProducto}"></div>

<footer th:replace="~{/layout/plantilla :: footer}"></footer>
</body>
</html>