<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">

<head th:replace="~{/layout/plantilla :: head('Inicio')}">
</head>
<body class="bg-info-subtle d-flex flex-column min-vh-100">
<header th:replace="~{/layout/plantilla :: navbar}"></header>

<nav sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="container">
        <div class="row">
            <div class="mt-3 text-center">
                <a th:href="@{/admin/negocio/agregar}" class="btn btn-primary"><i
                        class="fa-solid fa-plus"></i><span> Agregar Negocio</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div th:if="${!vacio}" class="container flex-grow-1 mt-4">
    <section  th:replace="~{/negocio/listarNegocios :: listaNegocios}"></section>
</div>

<div th:if="${vacio}" class="container flex-grow-1 mt-4">
    <section th:replace="~{layout/cardVacia :: sinNegocio}"></section>
</div>

<div th:replace="~{negocio/eliminarNegocio :: modalEliminarNegocio}"></div>
<footer th:replace="~{/layout/plantilla :: footer}"></footer>
</body>
</html>