<html xmlns:th="http://www.thymeleaf.org">
<a th:fragment="botonAgregarCategoria" class="btn btn-outline-warning mt-2" data-bs-toggle="modal"
   data-bs-target="#modalAgregarCategoria" th:text="#{boton.agregar}">
    Agregar
</a>

<div th:fragment="modalCategoria">
    <div class="modal fade" id="modalAgregarCategoria" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{agregarCategoria}">Agregar Categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                </div>
                <form th:action="@{/admin/categoria/guardar}" method="post">
                    <input type="hidden" name="idNegocio" th:value="${idNegocio}">
                    <div class="modal-body">
                        <label for="nombreCategroia" class="form-label" th:text="#{label.nombreCategoria}">Nombre de la categoría:</label>
                        <input type="text" class="form-control" name="nombreCategoria" id="nombreCategroia">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{boton.cerrar}">Cerrar</button>
                        <input type="submit" class="btn btn-success" th:value="#{boton.guardar}" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>